<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>URL SHORTENER</h1>
        <h3>Short URL Creation </h3>
        <h5>INSTRUCTIONS</h5>
        <ul>
          <li>Type in url you want to shorten</li>
          <li>You will be redirected to a new page where it will return JSON object <br><br>
            {"original_url":"www.freecodecamp.com","short_url":1}
          </li> <br> <br>
          <li>You can now type in the absolute url along with the id to be redirected to the original_url.</li>

        </ul>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
          <input type="submit" value="POST URL">
        </form>
   </body>
</html>